/* Custom CSS */
body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.jumbotron {
	text-align: center;
	background-image: url('../images/Sofa.jpg');
	background-size: cover;
	height: 750px;
}

.jumbotron h1 {
	color: red;
}

.jumbotron p {
	margin: 50px;
	color: red;
	font-size: 36px;
	text-align: left;
}
